logs
*.log*
pids
*.pid
*.seed
lib-cov
coverage
node_modules
dist
.idea
*.iml
.vscode
.DS_Store
*lock.json
tmp
lib
dist
.docz
.history
public
.editorconfig
babel.config.js
tsconfig.json
debug.js
gulpfile.js
jest.config.js
.prettierrc.js
.eslintignore
.eslintrc.js
./jest.config.js
*.lock
package-lock.json
